.column {
    text-align: center;
}

.title {
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

.gameCard {

    height: 300px;
    border: solid thin;
    padding: 5px;
}

<<<<<<< Updated upstream
=======
.noDecoration {
    text-decoration: none;
}

>>>>>>> Stashed changes
