/*non Bulma styling*/
.column {
    text-align: center;
}

.title {
    text-align: center;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.gameCard {

    height: 300px;
    border: solid thin;
    padding: 5px;
}
body {
    min-height: 100vh;
}

.noDecoration {
    text-decoration: none;
}